*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: rgb(228, 207, 151); */
}
.App {
  background: rgb(228, 207, 151);
  min-height: 100vh;
  /* margin-top: 3rem; */
}